button {
  background-color: white;
  border: 3px dotted red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 45px;
  font-family: roboto;
  font-size: 40px;

  &.secondary {
    border: 2px solid red;
    border-radius: 14px;
  }
}
