button {
  background-color: rgb(245, 214, 214);
  border-width: 2px;
  border-radius: 14px;
  border-color: #696969;
  color: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  margin-right: 45px;
  font-family: roboto;
  font-size: 50px;
}
