div {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
p {
	color: #696969;
	font-family: roboto;
}

.fourohfour {
	background-color: rgb(195, 224, 205);
	font-size: 80px;
}

.info {
	font-size: 35px;
	width: 40%;
}