<div class="container">
  <div>
    <div class="add">
      <app-button type="secondary" (click)="triggerModal()">+</app-button>
    </div>
    <app-card
      (answer)="removeMeal($event)"
      [id]="meal.id"
      [image]="meal.image"
      [size]="meal.portionSize"
      *ngFor="let meal of meals"
      >{{ meal.name }}</app-card
    >
  </div>
  <app-aside class="aside">
    <app-grocery-list class="list"></app-grocery-list>
  </app-aside>
</div>
<div *ngIf="isModalOpen">
  <div class="backdrop" (click)="triggerModal()"></div>
  <app-modal>
    <app-button (click)="triggerModal()">x</app-button>
    <div class="select">
      <select (change)="selectChangeHandler($event)">
        <option>Ooh yes, I want to add...</option>
        <option [value]="meal.id" *ngFor="let meal of meals">{{ meal.name }}</option>
      </select>
      <app-button (click)="addMeal(selectedMeal)">+</app-button>
    </div>
  </app-modal>
</div>
