.card {
  border: 2px solid green;
  background-color: #ffffff;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin: 40px 40px 0;
  width: 66vw;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  height: 90px;
}

.wrapper-right {
  display: flex;
  justify-content: flex-end;
}

.name {
  color: black;
  font-family: roboto;
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.portion-size {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: roboto;
  font-size: 40px;
  margin-left: auto;
  margin-right: 45px;
}

img {
  width: 300px;
  height: 90px;
  object-fit: cover;
  border-right: 2px solid green;
}
